{% set classes = settings.classes | merge( [ base_styles.base ] ) | join(' ') | trim %}
{% set id_attribute = settings._cssid is not empty ? 'id=' ~ settings._cssid | e('html_attr') : '' %}
{% set for_attribute = settings['input-id'] is not empty ? 'for=' ~ settings['input-id'] | e('html_attr') : '' %}
{% set interactions_attribute = interactions is not empty ? 'data-interactions=' ~ interactions | json_encode | e('html_attr') : '' %}
{% set allowed_tags = '<b><strong><sup><sub><s><em><i><u><a><del><span><br>' %}
<label 
	{{ id_attribute }}
	class="{{ classes }}"
	{{ for_attribute }}
	data-interaction-id="{{ interaction_id | default(id) }}"
	{{ settings.attributes | raw }}
	{{ interactions_attribute }}
>{{ settings.text | striptags(allowed_tags) | raw }}</label>
